.inner-sidebar{
	display: block;
	position: absolute;
	right: 20px;
}
div#table-content {
	margin-right: 290px;
}

.AdsTable{
}

.AdsTable  td, .AdsTable th {
	padding: 3px 10px;
}

div#tableform {
	position: fixed;
	left: 28%;
	width: 600px;
    padding: 10px 20px;
    background: #f4f7f8;
    background: #f4f7f8;
    border-radius: 8px;
    z-index: 9999999;
    
}
.xdsoft_datetimepicker{
	z-index: 9999999999!important;
}

form#adform input[type="text"],
form#adform input[type="date"],
form#adform input[type="datetime"],
form#adform input[type="email"],
form#adform input[type="number"],
form#adform input[type="search"],
form#adform input[type="time"],
form#adform input[type="url"],
form#adform textarea,
form#adform select {
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 12px;
    margin: 0;
    outline: 0;
    padding: 7px;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;
    
}
form#adform textarea{
	width: 100% !important;
	
}
form#adform input[type="text"]:focus,
form#adform input[type="date"]:focus,
form#adform input[type="datetime"]:focus,
form#adform input[type="email"]:focus,
form#adform input[type="number"]:focus,
form#adform input[type="search"]:focus,
form#adform input[type="time"]:focus,
form#adform input[type="url"]:focus,
form#adform textarea:focus,
form#adform select:focus{
    background: #d2d9dd;
}
form#adform select{
    -webkit-appearance: menulist-button;
    height:30px;
    margin-top: 5px;
}
form#adform .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

form#adform input[type="submit"],
form#adform input[type="button"]
{
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
form#adform input[type="submit"]:hover,
form#adform input[type="button"]:hover
{
    background: #109177;
}





/*MODIFY*/
/*div#tableform{
	 background:linear-gradient(
       to left,
       red 0, 
       red 33.3%,
       orange 33.3%, 
       orange 66.6%, 
       blue 66.6%, 
       blue ) 
       no-repeat !important;
	   background-size:100% 10px !important;
	   padding-top:10px !important;
}
div#tableform table{
	background-color: #FFFFFF !important;
	width: 100% !important;
	padding: 5px;
}
*/
div#closefrm, #closeupload {
	float: right;
	margin: 0 5px 0 0;
	cursor: pointer;
}
#uploadform{
	position: fixed;
	background: #AACCE5;
	padding: 5px 5px 20px 20px;
	width: 460px;
	border: 4px solid #457EA8;
	display: none;
}

textarea#src {
	width: 530px;
}

input#src {
	width: 444px;
}
#the-list tr:nth-child(odd) {
    background: #D8EBF5;
}

#the-list tr:nth-child(even) {
    background: #D4DCE0;
}

#upload-wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #3D91A2;
	padding: 50px;
	border-radius: 10px;
}
#upload-wrapper h3 {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	margin-top: -30px;
	border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
}
#upload-wrapper #submit-btn {
	border: none;
	padding: 10px;
	background: #61BAE4;
	border-radius: 5px;
	color: #FFF;
}
#output{
	padding: 5px;
	font-size: 12px;
}

/* prograss bar */
#progressbox {
	border: 1px solid #CAF2FF;
	padding: 1px; 
	position:relative;
	width:400px;
	border-radius: 3px;
	margin: 10px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #CAF2FF;
	width:1%;
}
#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #FFFFFF;
}

.adedit{
	visibility: hidden;
	margin: 0 5px 0 0;
	cursor: pointer;
}
.adfila:hover .adedit{
    visibility: visible;
}

.adfila:hover td{
    background: #eee;
}

.adaction img {
	cursor:pointer;
	border: 0px solid #AB6400; 
	margin:0; 
	padding:0;
}
.adaction img:hover {
	background: #B5D7B5;
}


img.myadpreview {
    max-height: 80px;
}
.tabreport tr td {
    height: 120px;
}
img.myadpreview:hover {
    position: fixed;
    max-height: 380px;
    border: 10px solid;
    border-radius: 10px;
}